<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somecoder.demo.blog.mapper.CommentMapper">

    <select id="getAllComment" resultMap="ShowCommentResponse">
        select
            com.comment_id,
            s.`name`,
            s.head_pic_url,
            com.user_id,
            com.`comment`,
            date_format(com.create_time, '%Y-%m-%d %H:%i:%s') create_time
        from `comment` com
                 left join post p
                            on p.post_id = com.post_id and p.is_deleted = 0
                 left join student s
                            on com.user_id = s.user_id and s.is_deleted = 0
        where com.post_id = #{post_id} and com.is_deleted = 0
        order by com.create_time asc;

    </select>
    <resultMap id="ShowCommentResponse" type="com.somecoder.demo.blog.entity.response.ShowCommentResponse">
        <result column="comment_id" property="commentId"/>
        <result column="name" property="name"/>
        <result column="head_pic_url" property="headPicUrl"/>
        <result column="user_id" property="userId"/>
        <result column="comment" property="comment"/>
        <result column="create_time" property="createTime"/>

    </resultMap>

    <select id="getCommentCount" resultMap="CountDto">
        select
        post_id,
        count(post_id) comment_count
        from comment
        where is_deleted = 0
        group by post_id
        having post_id in
        <foreach collection="postIdLists" item="postIdList" index="index" open="(" close=")" separator=",">
            #{postIdList}
        </foreach>
    </select>
    <resultMap id="CountDto" type="com.somecoder.demo.blog.entity.dto.CountDto">
        <result column="post_id" property="postId"/>
        <result column="comment_count" property="count"/>
    </resultMap>
    
</mapper>
